<!DOCTYPE html>
<html>
<head>
	<% include ../../head %>
	<title>FeedMe | Dashboard</title>

	<!-- Custom CSS Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/dashboard-stu.css">
</head>
<body>
	<h1><%= user.firstName %></h1>

	<% include ../../scripts %>
</body>
</html>