<!DOCTYPE html>
<html>

<head>
    <% include ../../head %>
        <title>FeedMe | Profesores</title>

        <!-- Custom CSS Stylesheet -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/create-activity.css">

</head>

<body ng-app="myApp">

    <% include ../partials/navbar-tea %>
        <div id="page-wrapper" ng-controller="activityCtrl">
            <!-- set the course. Note that it has to be a string, otherwise it throws an error -->
            <div class="row" ng-init="setCourse('<%= JSON.stringify(course) %>')">
                <div class="col-lg-12">
                    <h1 class="page-header"><%= course.name %> - Crear Actividad <%= course.activities.length + 1 %> </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading clearfix">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">
                                        <input class="form-control" id="titulo" ng-model = "title" placeholder="Ingrese el título de la actividad">
                                    </div>
                                </form>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-default">Guardar Planilla</button>
                                <button class="btn btn-default" ng-click = "createActivity()">Enviar Actividad</button>
                            </div>
                            <h6 ng-if="error" class = "error">
                              {{ error}}
                            </h6>
                        </div>

                        <div class="panel-body clearfix">
                            <div class="top-margin" ng-repeat="question in questions">
                                <div class="form-group ">
                                    <!-- show the question number i.e. "Pregunta 1" -->
                                    <label>Pregunta {{questions.indexOf(question) + 1}}</label>
                                    <i class="fa fa-times fa-fw pull-right" ng-click= "deleteQuestion(question)"></i>

                                </div>
                                <!-- display the question if it is multipleChoice -->
                                <div ng-if="question.type == MULTIPLE_CHOICE">
                                    <% include ../../question/create-multiple-choice (question) %>
                                </div>
                                <!-- display the question if it is a yes no question -->
                                <div ng-if="question.type == YES_NO">
                                    <% include ../../question/create-yes-no (question) %>
                                </div>
                                <!-- display the question if it is a short answer question -->
                                <div ng-if="question.type == SHORT_ANSWER">
                                    <% include ../../question/create-short-answer (question) %>
                                </div>
                                <!-- display the question if it is a long answer question -->
                                <div ng-if="question.type == LONG_ANSWER">
                                    <% include ../../question/create-long-answer (question) %>
                                </div>
                                <!-- display the question if it is a numeric question -->
                                <div ng-if="question.type == NUMERIC">
                                    <% include ../../question/create-numeric (question) %>
                                </div>

                            </div>

                            <!-- show the 'no questions' whe there is no questions in the activity -->
                            <h6 class="empty-list" ng-if="questions.length == 0">
                                No hay preguntas. Elija bajo 'Agregar Pregunta' que tipo de pregunta desea agregar.
                            </h6>
                            <div class="pull-right">
                                <button class="btn btn-default">Guardar Planilla</button>
                                <button class="btn btn-default" ng-click = "createActivity()">Enviar Actividad</button>
                            </div>
                            <h6 ng-if="error" class = "error">
                              {{ error}}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-question fa-fw"></i> Agregar Pregunta
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item pressable" ng-click="addQuestion(MULTIPLE_CHOICE)">
                                    <i class="fa fa-asterisk fa-fw"></i> Pregunta de Alternativas
                                </li>
                                <li class="list-group-item pressable" ng-click="addQuestion(YES_NO)">
                                    <i class="fa fa-asterisk fa-fw"></i> Si o No
                                </li>
                                <li class="list-group-item pressable" ng-click="addQuestion(NUMERIC)">
                                    <i class="fa fa-asterisk fa-fw"></i> Numerica
                                </li>
                                <li class="list-group-item pressable" ng-click="addQuestion(SHORT_ANSWER)">
                                    <i class="fa fa-asterisk fa-fw"></i> Respuesta Corta
                                </li>
                                <li class="list-group-item pressable" ng-click="addQuestion(LONG_ANSWER)">
                                    <i class="fa fa-asterisk fa-fw"></i> Comentario
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->

                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-table fa-fw"></i> Planillas
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="list-group">
                                <li class="list-group-item pressable">
                                    <i class="fa fa-asterisk fa-fw"></i> Planilla videos
                                </li>
                                <li href="#" class="list-group-item pressable">
                                    <i class="fa fa-asterisk fa-fw"></i> Planilla presentacion power point
                                </li>
                                <li href="#" class="list-group-item pressable">
                                    <i class="fa fa-asterisk fa-fw"></i> Planilla juegos grupales
                                </li>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->


        <% include ../../scripts %>

            <!-- script for angular to work  -->
            <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

            <!-- script for local angular app -->
            <script src="/js/angular/app.js"></script>
            <!-- scripts for angular controllers -->
            <script src="/js/angular/controllers/activity.js"></script>

            <!-- jQuery -->
            <script src="../bower_components/jquery/dist/jquery.min.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

            <!-- Metis Menu Plugin JavaScript -->
            <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

            <!-- Custom Theme JavaScript -->
            <script src="../dist/js/sb-admin-2.js"></script>
</body>

</html>
